[submodule "Assets/_Project/Scripts/gRPC/grpc-proto"]
	path = Assets/_Project/Scripts/gRPC/grpc-proto
	url = git@github.com:cookapps-devops/auto-battle-project-grpcproto.git
[submodule "Assets/CookApps/gRPC"]
	path = Assets/CookApps/gRPC
	url = https://github.com/cookapps-devops/stkauto-grpc-IDL.git
